.phase1 {
  background: url(../component/image/labour3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.phase2 {
  display: flex;
  justify-content: space-around;
  background-color: rgba(61, 56, 56, 0.388);
  margin: auto;
}

.cl-white{
  color: white;
}

label {
  display: inline-block;
  color: #fefafa;
  font-size: 16px;
  margin-bottom: 10px;
  margin-right: 10px;
}

label::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

input[type="text"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

input[type="text"]:focus {
  outline: none;
  border-color: #ff0000;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

input[type="number"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

input[type="number"]:focus {
  outline: none;
  border-color: #e42dea;
  box-shadow: 0 0 5px rgba(243, 43, 200, 0.5);
}

input[type="password"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;

}

input[type="password"]:focus {
  outline: none;
  border-color: #f025f0;
  box-shadow: 0 0 5px rgba(235, 33, 238, 0.5);
}

.phase3 {
  padding: 6px;
  margin-bottom: 8px;
  width: 340px;
}

.attractive-button {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(rgb(216 216 30), rgb(255 155 13), rgb(255 8 255 / 76%));
  color: #f5f1f1;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 18px rgb(236 52 52);
  transition: background-color 0.3s ease;
}

.sigupform {
  padding-top: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 700px;
}
.unselected {
  user-select: none;
  color: rgba(31, 30, 30, 0.829);
}
.sigupuser {
  padding: 30px 0px;
  width: 800px;
  display: flex;
  color: rgb(251, 248, 248);
  align-items: center;
  flex-direction: column;
}
