


.s1{
  height: 600px;
  width: 100vw;
  background: url(../component/image/labour2.jpg);
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center;
 
}
.s2{
  height:  500px;
  width: 400px;
  display: flex;
  justify-content:space-around;
  background-color: rgba(61, 56, 56, 0.388);
  /* position: absolute;
  right: 55%;
  left: 35%;
  top: 20%;
  bottom: 60%; */
  margin: 10px auto;
}
label {
  display: inline-block; 
  color: #fefafa;
  font-size: 16px; 
  margin-bottom: 10px; 
 margin-right: 10px;
}

label::before {
  content: ""; 
  display: inline-block;
  width: 10px; 
  height: 10px; 
  margin-right: 5px; 
}
input[type="text"] {
  padding: 10px;
  border: 2px solid #ccc; 
  border-radius: 5px;
  font-size: 16px;
  color: #333; 
}

input[type="text"]:focus {
  outline: none;
  border-color: #ff0000; 
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); 
}
input[type="number"] {
  padding: 10px;
  border: 2px solid #ccc; 
  border-radius: 5px;
  font-size: 16px;
  color: #333; 
}

input[type="number"]:focus {
  outline: none;
  border-color: #e42dea; 
  box-shadow: 0 0 5px rgba(243, 43, 200, 0.5); 
}
input[type="password"] {
  padding: 10px;
  border: 2px solid #ccc; 
  border-radius: 5px;
  font-size: 16px;
  color: #333; 
  
}

input[type="password"]:focus {
  outline: none;
  border-color: #f025f0; 
  box-shadow: 0 0 5px rgba(235, 33, 238, 0.5); 
}
.s3{
  padding: 6px;
  margin-bottom: 8px;
}
.attractive-button {
  display: inline-block;
  padding: 10px 20px; 
  background:linear-gradient(rgba(216, 216, 30, 0.406),rgba(211, 125, 4, 0.452),rgba(197, 48, 197, 0.498));
  color: #f5f1f1; 
  font-size: 16px; 
  border: none; 
  border-radius: 5px; 
  margin-left: 20px;
  cursor: pointer; 
  box-shadow: 0 2px 4px rgb(52, 236, 67); 
  transition: background-color 0.3s ease; 
}
.loginform{
  padding-top: 4px;
}
.unselected{
  user-select: none;
  color: rgba(31, 30, 30, 0.829);
}


.loginuser{
  padding: 30px 0px;
  height: 400px;
  width: 800px;
  display: flex;
  color: rgb(251, 248, 248);
  align-items: center;
  flex-direction: column;
}


